.principal video {}

.secundaria video {
    width: 50%;
    display: flex;
    flex-direction: column;
    filter: grayscale(100%);
    margin-bottom: 20px;
}

.container {
    display: flex;
    column-gap: 20px;
}